<div class="card card-block bg-faded bottomMargin" [class.click-enabled]="stream.online == true" (click)="handleClick()">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-12">
      <img class="img-fluid" style="width: 100%" [src]="stream.preview">
    </div>
    <div class="col-md-8 col-sm-12 col-12">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <h4>{{stream.displayName}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <p style="word-wrap: break-word">
            {{stream.status}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="media">
            <div class="d-flex align-self-center mr-2">
              <i class="fa fa-flash"></i>
            </div>
            <div class="media-body cardText">
              {{stream.game}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="media">
            <div class="d-flex align-self-center mr-2">
              <i class="fa fa-language"></i>
            </div>
            <div class="media-body cardText">
              {{stream.language}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="media">
            <div class="d-flex align-self-center mr-2">
              <i class="fa fa-users"></i>
            </div>
            <div class="media-body cardText">
              {{stream.viewers | number}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="media">
            <div class="d-flex align-self-center mr-2">
              <span class="fa fa-signal"></span>
            </div>
            <div class="media-body cardText">
              {{stream.online === true ? 'online' : 'offline'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
