<div class="navbar navbar-toggleable-md navbar-toggleable-sm navbar-light bg-faded bottomMargin">
  <div class="navbar-header">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="['/']" class="navbar-brand">twitchGui</a>
  </div>
  <div [collapse]="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of menu" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="[item.link]">{{item.title}}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Filter" [formControl]="filterTermControl">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="button" (click)="reloadEvent()">Reload</button>
    </form>
  </div>
</div>
