<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
       *ngFor="let stream of streams | fuzzy:filterTerm">
    <app-streams-card [stream]="stream" (streamsCardClicked)="handleStreamsCardClicked($event)">
    </app-streams-card>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12 col-12">
    <div class="card card-block bg-faded">
      <button type="button" class="btn btn-primary btn-block" [disabled]="isLoading" (click)="getStreams()">Load more</button>
    </div>
  </div>
</div>
